input[type=text], input[type=password], input[type=email], input[type=date], input[type=number] {    
	margin: 8px 0 8px 40px;
}

input[type=submit], input[type=button]{
	margin: 0 auto;
	margin-bottom: 30px;
	float: none;
}

#btnExcluir{
	margin: 0 auto;
	float: none;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #F66; 
}

#btnExcluir:hover{
	color: red;
}

label{
	margin-left: 40px;
	font-size: 18px;
	font-family: 'arial';
}

.selInfo{
	margin-left: 40px;
}

input[name^="percent"]{
	height:40px; 
	width: 100px; 
}

input[name^="vlrPercent"]{
	height:40px; 
	width: 170px; 
}

input[name^="data"]{
	height:40px; 
	width: 170px; 
}

input[name^="comprovante"]{
	height:40px; 
	width: 170px; 
}