
*{
	margin:0;
	padding:0;
}

.menu{
	height: 100%;
	position: fixed;
	background-color: #333;
	top:0;
	overflow: hidden;
	transition: all .2s;

}

#principal{
	width: 200px;	
}

ul{
	list-style: none;

}

ul li a{
	display: block;
	font-size: 18px;
	font-family: 'arial';
	padding: 12px;
	border-bottom: solid 1.5px #000;
	color: #ccc;
	text-decoration: none;
	transition: all .2s;

}

ul li span{

	float: right;
	padding-right: 10px;
}

ul li a:hover{
	background-color: #494950;
}

h1{
	font-size: 30px;
	font-family: 'arial';
	color: #ccc;
	border-bottom: solid 1.5px #000;
	padding-top: 8%;
	padding-bottom: 8%;
	background-color: #1c1c1c;

}

.voltar{
	margin-top: 60px;
	background-color: #111;
	border-left: solid 5px #444;
}

#pagamentos,
#recebimentos{
	width: 250px;
	left: -250px;
}
#Relatorios,
#Agenda{
	width: 250px;
	left: -250px;
}

#cliente{
	width: 250px;
	left: -250px;
}


#pagamentos:target,
#recebimentos:target{
	transform: translateX(250px);
}
#Relatorios:target,
#Agenda:target{
	transform: translateX(250px);
}

#cliente:target{
	transform: translateX(250px);
}

.cadastro{
	display: flex;
	flex: 1;
	width: 100%;
	height: 300px;
	background-color: red;
}

